HTTP_PORT=5000
EMAIL_SENDER_ADDRESS="email@email.com"
EMAIL_SENDER_PASSWORD="password"
EMAIL_HOST="smtp.gmail.com"
GOOGLE_SHEETS_SUBSCRIBE_SHEET_ID="some-id"
GOOGLE_SHEETS_EMAIL="email@iam.gserviceaccount.com"
GOOGLE_SHEETS_PRIVATE_KEY="-----KEY-----"